body, html, #root {
  margin: 0; padding: 0; height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
 .mainContainer{
  display: flex;
  flex-direction: row;
 }
.leftcontainer {
  width: 500px;
  max-width: 1100px;
  height: 80vh;
  background: white;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);
 border-top-left-radius: 10px;
border-bottom-left-radius: 10px;

}

.upicon{
padding-left: 2px;
position: relative;
 top: 3px;

}
.send{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    background-color: white;
    border: none;
    width: 50px;
    height: 25px;
    position: relative;
    top: 93px;
    left: 315px;
  color: gray;
  font-size: 12px;

}

.up{
 box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
 background-color: white;
    border: none;
    width: 30px;
    height: 25px;
       position: relative;
    top: 95px;
    left: 312px;
    color: gray;
}
.chat{
  font-size: 12px;
 padding-left: 2px;
 font-weight: bold;

}
.chaticon{
  padding-left: 10px;
 position: relative;
 top: 4px;
}
.rightcontainer .navbar{
  color: gray;
}
.rightcontainer {
   width: 250px;
  max-width: 1100px;
  height: 80vh;
  background: white;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);
  border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
color: gray; 




}
.rightcontainer input{
 box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);
border: none;
border-radius: 5px;
margin-top: 215px; 
margin-left: 10px;
width: 230px;
height: 35px;
outline: none;
}
.content{
  height: 120px;
  width: 460px;
border: 8px;
   box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);
   margin-top: 290px;
   margin-left: 20px;

}

.rightcontainer h1{
 font-size: 12px;
 color: black;
 text-align: center;
 margin-top: 120px;
}
h2{
font-size: 8px;
text-align: center;
margin-top: -6px;
}
.details{
  padding-left: 15px;
}
.open{
  color: black;
  padding-left: 100px;
}

.navbar {
  height: 50px;
  background-color: white;
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight:bolder ;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  
  padding-left: 20px;
  font-size: 10px;
  display: flex;
 
  align-items: center;
  

}
.star{
  color: grey;
  padding-left: 100px;
 
}

.dot{
  background-color: #eae3e3e6;
  border-radius: 6px;
  border: none;
  font-weight: bold; 
  height: 25px;
  width: 26px;
  margin-left: 10px;
 

}
.call{
   background-color: #eae3e3e6;
   border: none;
   border-radius: 5px;
   height: 25px;
  width: 50px;
  font-size: 12px;
  font-weight: bold;
 margin-left: 10px;
 

}
.snooze{
   background-color: #eae3e3e6;
   border: none;
   border-radius: 5px;
   height: 25px;
  width: 80px;
  font-size: 12px;
  font-weight: bold;
 margin-left: 10px;
}
.close{
   background-color: black;
   border: none;
   border-radius: 5px;
   height: 25px;
  width: 70px;
  font-size: 12px;
  font-weight: bold;
 margin-left: 10px;
 color: white;
 margin-right: 5px;
}



@media (max-width: 1000px) {
  .rightcontainer{
    width: 100px;
 overflow: hidden;
  }
  .leftcontainer{
    width: 400px;
   overflow: hidden; 
  }
  .call{
    font-size: 5px;
  }
  .snooze{
    font-size: 6px;
    
  }
  
  .close{
    font-size: 5px;
  }
  .copilot{
    margin-left: -20px;
  }
  .rightcontainer input{
    width: 95px;
 position: relative;
 bottom: 77px;
  right: 10px;
  font-size: 8px;
  }
  
}




